html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.el-submenu__title {
  font-size: 13px;
}
i.iconfont {
  margin-right: 10px;
}
.el-card{
  margin-top: 15px;
}
.el-table{
  font-size: 12px;
  margin-top: 15px;
}
.el-card__body{
  padding: 20px;
}

